<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wisdorm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.wisdorm.ui.LoginActivity"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.wisdorm.ui.MainActivity" >            
        </activity>
        <receiver android:name="com.wisdorm.ui.AlarmReceiver" android:process=":remote" /> 
        
        <activity
            android:name="com.wisdorm.ui.CreateDormActivity"
            android:label="@string/title_activity_create_dorm" >
        </activity>
        <activity
            android:name="com.wisdorm.ui.RegisterDormActivity"
            android:label="@string/title_activity_register_dorm" >
        </activity>
        <activity
            android:name = "com.wisdorm.ui.AttendDormActivityndDormActivity"
            android:label="@string/title_activity_attend_dorm" >
        </activity>
        <activity
            android:name="com.wisdorm.ui.AlarmAlertActivity"
            android:theme="@style/AlarmAlert">
        </activity>
        <activity
            android:name="com.wisdorm.ui.filechooser.FileChooserActivity">
        </activity>
        <activity
            android:name="com.wisdorm.ui.AddTextActivity">
        </activity>
    </application>

</manifest>
